POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=employees
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
POSTGRES_DB_AIRFLOW=airflow
AIRFLOW_WEBSERVER_SECRET_KEY=a_very_secret_key
JUPYTER_TOKEN=a_very_secret_token
PATH_LOCAL_USER=./jupyter_notebook
AIRFLOW_CONN_ID=postgresadb

#=============================ENV VARIABLES REQUIRED TO RUN hr-data-validation DAGS
#JUST FOR THE GMAIL SERVICE
SMTP_SERVER=smtp.gmail.com
#JUST FOR THE GMAIL SERVICE
SMTP_PORT=587
#THIS IS THE NAME OF THE POSTGRES CONNECTION TO BE CREATED AUTOMATICALLY WHEN RUNNING THE SCRIPT setup_and_start_sh
SENDER_EMAIL=your_gmail_address@gmail.com
#THIS PASSWORD IS GENERATED with this video tutorial : https://www.youtube.com/watch?v=ZfEK3WP73eY
#YOU HAVE TO REMOVE THE SPACES
SENDER_PASSWORD=Loremipsumdolor
#EMAILS SEPARATED BY COMMAS
RECEIVER_EMAILS=email1@gmail.com,email2@pcpuma.acatlan.unam.mx